<?xml version="1.0"?>
<config>
    <modules>
        <Fballiano_Turnstile>
            <version>0.7.0</version>
        </Fballiano_Turnstile>
    </modules>
    <global>
        <helpers>
            <fballiano_turnstile>
                <class>Fballiano_Turnstile_Helper</class>
            </fballiano_turnstile>
        </helpers>
        <models>
            <fballiano_turnstile>
                <class>Fballiano_Turnstile_Model</class>
            </fballiano_turnstile>
        </models>
    </global>
    <adminhtml>
        <events>
            <controller_action_predispatch_adminhtml_index_login>
                <observers>
                    <fballiano_turnstile>
                        <class>fballiano_turnstile/observer</class>
                        <method>verifyAdmin</method>
                    </fballiano_turnstile>
                </observers>
            </controller_action_predispatch_adminhtml_index_login>
            <controller_action_predispatch_adminhtml_index_forgotpassword>
                <observers>
                    <fballiano_turnstile>
                        <class>fballiano_turnstile/observer</class>
                        <method>verifyAdmin</method>
                    </fballiano_turnstile>
                </observers>
            </controller_action_predispatch_adminhtml_index_forgotpassword>
        </events>
        <layout>
            <updates>
                <fballiano_turnstile>
                    <file>fballiano_turnstile.xml</file>
                </fballiano_turnstile>
            </updates>
        </layout>
        <translate>
            <modules>
                <Fballiano_Turnstile>
                    <files>
                        <default>Fballiano_Turnstile.csv</default>
                    </files>
                </Fballiano_Turnstile>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <events>
            <controller_action_predispatch_checkout_onepage_savebilling>
                <observers>
                    <fballiano_turnstile>
                        <class>fballiano_turnstile/observer</class>
                        <method>verifyAjax</method>
                    </fballiano_turnstile>
                </observers>
            </controller_action_predispatch_checkout_onepage_savebilling>
            <controller_action_predispatch_contacts_index_post>
                <observers>
                    <fballiano_turnstile>
                        <class>fballiano_turnstile/observer</class>
                        <method>verify</method>
                    </fballiano_turnstile>
                </observers>
            </controller_action_predispatch_contacts_index_post>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <fballiano_turnstile>
                        <class>fballiano_turnstile/observer</class>
                        <method>verify</method>
                    </fballiano_turnstile>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
            <controller_action_predispatch_customer_account_forgotpasswordpost>
                <observers>
                    <fballiano_turnstile>
                        <class>fballiano_turnstile/observer</class>
                        <method>verify</method>
                    </fballiano_turnstile>
                </observers>
            </controller_action_predispatch_customer_account_forgotpasswordpost>
            <controller_action_predispatch_newsletter_subscriber_new>
                <observers>
                    <fballiano_turnstile>
                        <class>fballiano_turnstile/observer</class>
                        <method>verify</method>
                    </fballiano_turnstile>
                </observers>
            </controller_action_predispatch_newsletter_subscriber_new>
            <controller_action_predispatch_review_product_post>
                <observers>
                    <fballiano_turnstile>
                        <class>fballiano_turnstile/observer</class>
                        <method>verify</method>
                    </fballiano_turnstile>
                </observers>
            </controller_action_predispatch_review_product_post>
            <controller_action_predispatch_wishlist_index_send>
                <observers>
                    <fballiano_turnstile>
                        <class>fballiano_turnstile/observer</class>
                        <method>verify</method>
                    </fballiano_turnstile>
                </observers>
            </controller_action_predispatch_wishlist_index_send>
        </events>
        <layout>
            <updates>
                <fballiano_turnstile>
                    <file>fballiano_turnstile.xml</file>
                </fballiano_turnstile>
            </updates>
        </layout>
        <translate>
            <modules>
                <Fballiano_Turnstile>
                    <files>
                        <default>Fballiano_Turnstile.csv</default>
                    </files>
                </Fballiano_Turnstile>
            </modules>
        </translate>
    </frontend>
    <default>
        <admin>
            <fballiano_turnstile>
                <enable>0</enable>
                <selectors>.checkout-onepage-index #billing-new-address-form
.contacts-index-index #contactForm
.customer-account-create #form-validate
.customer-account-forgotpassword #form-validate
#newsletter-validate-detail
.catalog-product-view #review-form
.review-product-list #review-form
.wishlist-index-share #form-validate</selectors>
            </fballiano_turnstile>
        </admin>
    </default>
</config>
