<?xml version="1.0"?>
<config>
    <modules>
        <Fballiano_Turnstile>
            <version>0.1.0</version>
        </Fballiano_Turnstile>
    </modules>
    <global>
        <helpers>
            <fballiano_turnstile>
                <class>Fballiano_Turnstile_Helper</class>
            </fballiano_turnstile>
        </helpers>
        <models>
            <fballiano_turnstile>
                <class>Fballiano_Turnstile_Model</class>
            </fballiano_turnstile>
        </models>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_contacts_index_post>
                <observers>
                    <captcha>
                        <class>fballiano_turnstile/observer</class>
                        <method>verify</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_contacts_index_post>
            <controller_action_predispatch_newsletter_subscriber_new>
                <observers>
                    <captcha>
                        <class>fballiano_turnstile/observer</class>
                        <method>verify</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_newsletter_subscriber_new>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <captcha>
                        <class>fballiano_turnstile/observer</class>
                        <method>verify</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
        </events>
        <layout>
            <updates>
                <fballiano_turnstile>
                    <file>fballiano_turnstile.xml</file>
                </fballiano_turnstile>
            </updates>
        </layout>
    </frontend>
    <default>
        <admin>
            <fballiano_turnstile>
                <enable>0</enable>
                <selectors>#contactForm
#newsletter-validate-detail
.customer-account-create #form-validate</selectors>
            </fballiano_turnstile>
        </admin>
    </default>
</config>